////
/// Content
/// Home
////

.Home {
  .Block--item1,
  .Block--item2,
  .Block--item4,
  .Block--item5 {
    flex-basis: 50%;
  }

  @media screen and (min-width: get-breakpoint(tablet)) {
    .BlockContent {
      height: columns() * 1.5;
    }
  }

  @media screen and (min-width: get-breakpoint(desktop)) {
    .Block--item1,
    .Block--item2,
    .Block--item3,
    .Block--item4 {
      flex-basis: 25%;
    }

    .Block--item5 {
      flex-basis: 100%;
    }

    .Block--item6,
    .Block--item7 {
      flex-basis: 50%;
    }

    .BlockContent {
      height: columns() * 2;
    }
  }

  @media screen and (min-width: get-breakpoint('1080p', wide)) {
    .BlockContent {
      height: columns() * 2.5;
    }
  }
}
