////
/// Components
/// Pattern props
////

@import '../../styles/utilities/layout';

///
/// Halftone

$halftone-bg-size: 2.4rem;

@mixin halftone-bg($psuedo: 'before') {
  &::#{unquote($psuedo)} {
    @include position-cover;
    content: '';
    display: block;
    pointer-events: none;

    @content;
  }
}

@mixin halftone-bg-animated($psuedo: 'before') {
  &::#{unquote($psuedo)} {
    background-image: var(--halftone-bg);
    background-size: $halftone-bg-size $halftone-bg-size;
    animation:
      halftone get-duration(slow) steps(3) infinite both,
      fade-in get-duration() get-easing() both;

    @content;
  }
}

///
/// Stripes

$stripes-bg-size: 3.2rem;

@mixin stripes-bg {
  background-image: var(--stripes-bg);
  background-color: white;
  background-size: $stripes-bg-size $stripes-bg-size;
}
