////
/// Components
/// DragHandle
////

@import './props';

.DragHandle {
  position: relative;
  width: $draghandle-size;
  height: $draghandle-size;
  background-color: currentColor;
  transition: background-color get-duration() get-easing();

  &::before,
  &::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    height: $draghandle-line-height;
    background-color: white;
    transition: background-color get-duration() get-easing();
  }

  &::before {
    top: $draghandle-line-height;
  }

  &::after {
    bottom: $draghandle-line-height;
  }
}
