////
/// Components
/// DragHandle props
////

$draghandle-size: 2rem;
$draghandle-line-height: 0.4rem;

@mixin drag-handle-dragging {
  background-color: white;

  &::before,
  &::after {
    background-color: get-color(brand, blue);
  }
}
