////
/// Content
/// Floated Layout mixins
////

/// Generate a selector chain for Swappable Block layouts
/// @param {ArgList} $nth-children - Any number of numeric values
/// eg: (1, 2, 5, 7, 8, 9)
@mixin floated-layout-selectors($nth-children...) {
  $selector-chain: ();

  @each $child in $nth-children {
    $child-selector: unquote('.Block:nth-child(#{$child})');
    $adjacent-clone-selector: unquote('.Block--isCloned ~ .Block:nth-child(#{$child + 1})');

    $selector-chain: append($selector-chain, $child-selector, comma);
    $selector-chain: append($selector-chain, $adjacent-clone-selector, comma);
  }

  #{$selector-chain} {
    @content;
  }
}
