////
/// Components
/// Halftone
////

@import 'props';

:root {
  --halftone-bg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#{get-color(brand, blue)}" d="M4 12a2 2 0 1 0 4 0 2 2 0 1 0-4 0m12 0a2 2 0 1 0 4 0 2 2 0 1 0-4 0m-6-6a2 2 0 1 0 4 0 2 2 0 1 0-4 0m0 12a2 2 0 1 0 4 0 2 2 0 1 0-4 0M0 4v4c1.104 0 2-.895 2-2s-.896-2-2-2zm0 12v4c1.104 0 2-.895 2-2s-.896-2-2-2zM6 2c1.104 0 2-.895 2-2H4c0 1.105.896 2 2 2zm12 0c1.104 0 2-.895 2-2h-4c0 1.105.896 2 2 2zM6 22c-1.104 0-2 .895-2 2h4c0-1.105-.896-2-2-2zm12 0c-1.104 0-2 .895-2 2h4c0-1.105-.896-2-2-2zm4-4c0 1.105.896 2 2 2v-4c-1.104 0-2 .895-2 2zm0-12c0 1.105.896 2 2 2V4c-1.104 0-2 .895-2 2z"/></svg>');
}

@keyframes halftone {
  from {
    background-position: 0 0;
  }

  to {
    background-position: ($halftone-bg-size / 2) ($halftone-bg-size / 2);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
